<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="">
</head>
<body>
<div class="content">
    <form th:action="@{/books/search}" th:method="GET">
        <div class="field">
            <label class="not" for="search-input">Введите поисковый запрос:</label>
            <input th:type="text" th:name="search" id="search-input">
            <button class="tap" type="submit">Искать!</button>
        </div>

        <div class="field" th:if="${book!=null}">
                <p th:text="${book.getId()}"></p>
                <p th:text="${book.getTitle()}"></p>
                <p th:text="${person.fullName}"></p>

        </div>
        <div th:unless="${book!=null}">
            <p>Книга не найдена!</p>
        </div>

    </form>
</div>
</body>
</html>