<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="">
</head>
<body>
<div class="content">
    <div class="field">
        <label for="name">Имя:</label>
        <div class="inside">
            <p th:text="${person.getName()}" id="name"></p>
        </div>
    </div>
    <br>
    <div class="field">
        <label for="age">Возраст:</label>
        <div class="inside">
            <p th:text="${person.getAge()}" id="age"></p>
        </div>

    </div>
    <br>
    <div class="field">
        <label for="e-mail">E-mail:</label>
        <div class="inside">
            <p th:text="${person.getEmail()}" id="e-mail"></p>
        </div>
    </div>
    <form th:action="@{/people/{id}/edit (id=${person.getId()})}" th:method="GET" >
    <div class="bottom">
    <button class="tap" type="submit">Редактировать!</button>
    </div>
    </form>
    <form th:action="@{/people/{id} (id=${person.getId()})}" th:method="DELETE" >
        <div class="bottom">
            <button class="tap" type="submit">Удалить!</button>
        </div>
    </form>
</div>
</body>
</html>