<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="">
</head>
<body>
<div class="content">
    <p class="title"> Список Людей</p>
    <div class="main" th:each="person:${people}" th:object="${person}">

        <p class="list"><a th:href="@{/people/{id} (id=${person.getId()})}" th:text="'Имя: '+${person.getFullName()} + '   Год Рождения: ' +
    ${person.getYearOfBirth()}" class="person"></a></p>
    </div>
    <form th:action="@{/people/new}" th:method="GET">
        <div class="bottom">
            <button class="tap" type="submit">Добавить человека</button>
        </div>
    </form>

</div>
</body>
</html>