<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="">
</head>
<body>
<div class="content">
    <p class="title"> Список Людей</p>
    <div th:each="person:${people}" th:object="${person}">
        <ul>
            <li class="list"><a th:href="@{/people/{id}}" th:text="'Имя: '+${person.getName()} + '   Возраст: ' +
    ${person.getAge()} + '   Email: ' + ${person.getEmail()}"
                                class="person"></a></li>
        </ul>
    </div>

</div>
</body>
</html>