<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="">
</head>
<body>
<div class="content">
    <div class="inform">
        <form th:action="@{/people}" th:method="POST" th:object="${person}">
            <div class="field">
                <label for="name">Введите имя</label>
                <input th:type="text" th:field="*{name}" id="name">
                <br>
                <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            </div>
            <br>
            <div class="field">
                <label for="age">Введите возраст</label>
                <input th:type="text" th:field="*{age}" id="age">
                <div class="errors" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</div>
            </div>
            <br>
            <div class="field">
                <label for="e-mail">Введите e-mail</label>
                <input th:type="text" th:field="*{email}" id="e-mail">
                <div class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
            </div>
            <br>
            <button class="tap" type="submit">Создать</button>

        </form>
    </div>
</div>
</body>
</html>