@import "nullStyle";

body {
  padding: 30px;
  text-align: center;
  background: url("../img/images.jpg");

}

.content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px;
  border: 1px solid green;
  max-width: 800px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;


  .title {
    font-size: 50px;
    margin: 0 0 30px 0;
    text-shadow: 2px 2px grey;

  }


  .person {
    font-style: italic;

  }

  .person:hover {
    color: green;
  }

  .main {
    //margin: 0 0 30px 0;
  }

  .list {
    //border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    //margin: 0 370px;


  }

  .list::before {
    content: url("../img/res20.png");
    padding: 0 15px 0 30px;
    left: 0;
    right: 0;
    width: auto;


  }

  .tap {
    margin-top: 30px;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    //background: grey;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
  }

  .tap:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .bottom {
    text-align: left;
  }

  input {
    border: 1px solid grey;
    border-radius: 30px;
  }

  .inform {
    //border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  div.field {
    padding-bottom: 5px;
  }

  div.field label {
    display: block;
    float: left;
    width: 120px;
    height: 15px;
    font-style: italic;
    text-decoration: underline;
  }

  div.field input:hover {
    box-shadow: 10px 9px 10px 0px rgba(0, 0, 0, 0.5);
  }

  div.inside {
    text-align: left;

  }

}

